<div class="container">
  <div class="sidebar">
    <h2>Info</h2>
    <ul>
      <% if logged_in? && current_user == @user %>
      <li><a href="/users/<%= @user.username %>/edit"><b>Edit Profile</b></a></li>
        <li>
          <a href="/reviews">Edit/Delete Reviews</a>
        </li>
      <% end %>
      <li><b>Username:</b> <%= @user.username %></li>
      <li><b>Name:</b> <%= @user.name %></li>
      <li><b>Status:</b> <%= @user.status %></li>
      <ul><b>Trails Visited:</b>
      <% @user.trails.uniq.each do |t| %>
        <li><a href="/trails/<%= t.id %>"><%= t.name %></a></li>
      <% end %>
      </ul>
    </ul>
    <br>
  </div>

  <div class="content">
    <section>
    <br>
      <h2>Reviews</h2>
      <table class="reviews">
        <tr>
          <th>Rating</th>
          <th>Description</th>
          <th>Trail</th>
        </tr>
        <% @reviews.each do |r| %>
          <tr>
            <td><%= r.rating %></td>
            <td><%= r.description %></td>
            <td><a href="/trails/<%= r.trail.id %>"><%= r.trail.name %></a></td>
          </tr>
        <% end %>
      </table>
    </section>
    <br>
  </div>
</div>


