<h1><%= @user.name %></h1>

<div>
  <b>Username:</b>
  <%= @user.username %>
</div>

<div>
  <b>Status:</b>
  <%= @user.status %>
</div>

<br>

<h2>Reviews</h2>
<br>
<table class="reviews">
  <tr>
    <th>Rating</th>
    <th>Description</th>
    <th>Trail</th>
  </tr>
  <% @reviews.each do |r| %>
    <tr>
      <td><%= r.rating %></td>
      <td><%= r.description %></td>
      <td><a href="/trails/<%= r.trail.id %>"><%= r.trail.name %></a></td>
    </tr>
  <% end %>
</table>
<% if current_user == @user %>
  <br>
  <a href="/users/<%= @user.username %>/edit">Edit Profile</a>
<% end %>