<% if logged_in? %>
<form action="/trails/<%= @trail.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <h1><%= @trail.name %></h1>
  <section class="input">
    <label for="name">Trail Name:</label>
    <input type="text" id="name" name="trail[name]" value="<%= @trail.name %>">
  </section>

  <section class="input">
    <label for="address">Address:</label>
    <input type="text" id="address" name="trail[address]" value="<%= @trail.address %>">
  </section>

  <section class="input">
    <label for="hours">Hours:</label>
    <input type="text" id="hours" name="trail[hours]" value="<%= @trail.hours %>">
  </section>

  <section class="input">
    <label for="description">Description:</label>
    <textarea id="description" name="trail[description]"><%= @trail.description %></textarea>
  </section>
  <br>

  <section class="submit">
    <input type="submit" value="Update Trail">
  </section>
</form>
<% else %>
  <div id="flash" class="error">
    <h3>You must be logged in to do this!</h3>
    <a href="/login"></a>
  </div>
<% end %>
