<h1><%= @trail.name %></h1>
<form action="/trails/<%= @trail.id %>" method="post">
  <h1>Leave a Review</h1>
  <section class="input">
    <label>Rate You're Experience:
      <br>
      <% i = 1 %>
      <% 5.times do %>
        <label for="<%= i %>"><%= i %></label>
        <input type="radio" id="<%= i %>" value="<%= i %>" name="review[rating]" required>
        <% i += 1 %>
      <% end %>
    </label>
  </section>

  <section class="input">
    <label for="description">Leave a description:</label>
    <br>
    <textarea id="description" name="review[description]" required></textarea>
  </section>

  <section class="submit">
    <input type="submit" value="Submit Review">
  </section>
</form>