<div class="container">
    <header>
      <h1 style="text-align: center"><%= @trail.name %></h1>
    </header>


  <div class="col-md-8 col-md-offset-2">
    <div class="sidebar">
      <h3>Details</h3>
      <ul>
        <li><b>Overall Rating:</b> <%= @reviews.sum(:rating).to_f / @review_count.to_f %></li>
        <li><b>Hours:</b> <%= @trail.hours %></li>
        <li><b>Address:</b> <%= @trail.address %></li>
        <li><b>Description:</b> <%= @trail.description %></li>
        <% if logged_in? %>
          <li><a href="/trails/<%= @trail.id %>/edit">Edit this Trail</a></li>
        <% end %>
      </ul>
    </div>

    <div class="slideshow-container" style="z-index: 1">

      <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="https://dayhikesneardenver.com/wp-content/uploads/2013/08/00-first-flatiron-hike-near-boulder-chautauqua-trail.jpg" style="width:100%" alt="img">
        <div class="text">Caption Text</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="https://cdn-assets.alltrails.com/uploads/photo/image/20804604/large_0af750e4cf30cafc94ab631f3198bb21.jpg" style="width:100%">
        <div class="text">Caption Two</div>
      </div>

      <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="img_mountains_wide.jpg" style="width:100%">
        <div class="text">Caption Three</div>
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

    </div>
    <br>

    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>

</div>



  </div>

  <br>

<h2><%= @review_count %> Review<%= "s" unless @review_count == 1 %></h2>
<table class="reviews">
  <tr>
    <th>Rating</th>
    <th>Description</th>
    <th>User</th>
  </tr>
  <% @reviews.each do |r| %>
    <tr>
      <td><%= r.rating %></td>
      <td><%= r.description %></td>
      <td><a href="/users/<%= r.user.username %>"><%= r.user.username %></a></td>
    </tr>
  <% end %>
</table>
<br>
<% if logged_in? %>
  <a href="/trails/<%= @trail.id %>/review">Leave a Review</a>
<% else %>
  <p><a href="/login">Log In</a> to leave a review</p>
<% end %>
